<h2>Not Waiting</h2>
{{#each participant in controller }}
  {{#unless participant.isWaiting}}
    <p>{{#linkTo "participant" participant }} {{participant.name}} - {{participant.state}}{{/linkTo}}</p>
  {{/unless}}
{{/each }}

